:root{
 --bg_luciernagas: #5f5b6c;
 --bg_recorridos_banner: rgb(15, 84, 35, 0.65);
 --bg_sierra_banner: rgb(25, 123, 187, 0.65);
 --bg_hospedaje_banner: rgb(27, 19, 18, 0.65);
 --bg_mercado_banner: rgb(240, 151, 26, 0.40);
 --page-font-color: white;
 --bg_footer: #1a151c;
}

@font-face {
 font-family: 'HelveticaText';
 src: url('../css/fonts/Helvetica_LT_Std_Condensed.woff') format('woff');
}

@font-face {
 font-family: 'HelveticaTitles';
 src: url('../css/fonts/Helvetica_LT_Std_Bold_Condensed.woff') format('woff');
}


html  {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  /*overflow-x: hidden;*/
}

body{ 
 height: 100%;
 font-family: 'HelveticaText'; 
 background: linear-gradient(180deg, rgba(131,127,142,1) 0%, rgba(121,121,121,0) 100%);
 background-repeat: no-repeat;
 background-attachment: fixed;
}

a{
  cursor: pointer;
}

.logo{
  -webkit-box-shadow: 0px 6px 15px 0px rgba(27,19,50,1) !important;
  -moz-box-shadow: 0px 6px 15px 0px rgba(27,19,50,1) !important;
  box-shadow: 0px 6px 15px 0px rgba(27,19,50,1) !important;
}

.logoMobile{
  position: fixed; 
  top: 15px; 
  z-index: 10000; 
  left: 50%; 
  margin-left: -60px; 
  border-radius: 5px;
}

.affix{
  position: fixed;
}

.show{
  display: block !important;
}

.imgCarrusel{
    width: 100% !important;
    height: 485px;
    object-fit: cover;
}

.imgCarruselMedio{
  width: 100% !important;
  height: 300px;
  object-fit: cover;
}

.imgCarruselMedio2{
  width: 100% !important;
  height: 630px;
  object-fit: cover;
}

.center{
 text-align: center;
}

.right{
  text-align: right;
}

.txtJustiff{
  text-align: justify;
}

.headerOpcionMenuImg{
 width: 55%;
 height: 55%;
}

.navbar{
 background-color: #837f8e;
}

.navOption{
  border-bottom: solid 3px #ffffff;
}

.title{
  font-size: 34px; 
  padding-top: 40px;
  padding-bottom: 20px;
}

.luciernagasSection{
  background-color: var(--bg_luciernagas);
  color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
}

.luciernagasDesc{
  margin: 0px 30px 0px 30px;
}

.luciernagasBanner{
  opacity: 0.8;
  background-color: #353140;
  padding: 10px;
  margin-bottom: 20px;
}

.imgLuciernagasDesc{
  margin-left: 20px;
}

h1.subtitleDesc{
  font-size: 22px;
}

h1.subtitleDesc2{
  font-size: 30px;
}

.shadow{
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 38px 7px rgba(255,255,255,1) !important;
  -moz-box-shadow: 0px 0px 38px 7px rgba(255,255,255,1) !important;
  box-shadow: 0px 0px 38px 7px rgba(255,255,255,1) !important;
}

.card-body{
  border-radius: 3px;
  background-color: #e6eaed;
  color: #000000;
}

.card-header{
  background-color: #3d3949;
  color: #ffffff;
  padding: 0px;
}

.btn-link{
  color: #ffffff;
}

.btn-link:hover{
  color: #ffffff;
}

.recorridos{
  background-color: #4d6e5d; 
  color: #ffffff;
}

.campamento{
  background-color: #466874; 
  color: #ffffff;
}

.hospedaje{
  background-color: #48445d; 
  color: #ffffff;
}

.mercado{
  background-color: #9d7a5a; 
  color: #ffffff;
}

.recorridosSection{
 background-image: url(../img/recorridos/background.jpg); 
 background-position: center center;
 background-repeat: no-repeat;
 width: 100%;
 /*object-fit: cover;*/
 background-size: cover;
 padding-top: 50px;
 border-bottom: solid 5px #ffffff;
}

.sierraNevadaSection{
  background-image: url(../img/sierra_nevada/background.jpg); 
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  /*object-fit: cover;*/
  background-size: cover;
  padding-top: 50px;
  border-bottom: solid 5px #ffffff;
 }

 .hospedajeSection{
  background-image: url(../img/hospedaje/background.jpg); 
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  /*object-fit: cover;*/
  background-size: cover;
  padding-top: 50px;
  border-bottom: solid 5px #ffffff;
 }

 .paquetesSection{
  background-image: url(../img/carrucel_principal/bosque-magico-paquetes-platino.jpg); 
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  /*object-fit: cover;*/
  background-size: cover;
  padding-top: 50px;
  border-bottom: solid 5px #ffffff;
 }

 .paquetesSection{
  border-bottom: solid 5px #ffffff;
 }

 .paquetesButton{
  position: absolute; 
  bottom: 100px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  background-color: #c4c0c1;
  color: #372d45;
  border-color: #372d45;
 }

 .paquetesButton:hover{
  background-color:#372d45;
  color:#c4c0c1;
  border-color: #372d45;
 }

 .paquetesDes{
   font-size: 22px;
 }

 .mercadoSection{
  background-image: url(../img/mercado_estacion/background.jpg); 
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  /*object-fit: cover;*/
  background-size: cover;
  padding-top: 50px;
  border-bottom: solid 5px #ffffff;
 }

.recorridosText{
  color: #ffffff; 
  font-size: 50px; 
  line-height: 50px; 
  font-weight: bold; 
  border-bottom: solid 4px #ffffff; 
  padding-bottom: 8px;
}

.descriptionText{
  font-size: 19px;
  text-align: justify;
}

.imgDescription{
  border: 5px solid #ffffff;
}

.recorridosBanner{
 background: var(--bg_recorridos_banner);
}

.sierraNevadaBanner{
  background: var(--bg_sierra_banner);
}

.sierraNevadaBanner{
  background: var(--bg_sierra_banner);
}

.hospedajeBanner{
  background: var(--bg_hospedaje_banner);
}

.mercadoBanner{
  background: var(--bg_mercado_banner);
}

.footerLetra{
  color: var(--page-font-color);
  font-size: 20px;
}

.footertitulo{
  color: var(--page-font-color);
  font-size: 15px;
}

.footer{
  background-color: var(--bg_footer);
  padding-top: 50px;
  padding-bottom: 30px;
  color: #977fa3;
  font-size: 18px;
}

.footer2{
  background-color: var(--bg_footer);
  padding-bottom: 50px;
  color: #977fa3;
  font-size: 18px;
}

.footerLink{
  color: #977fa3; 
  text-decoration: none;
}

.footerLink:hover{
  color: #ffffff; 
  text-decoration: none;
}

#facturaModalTittle{
  text-align: center;
  width: 100%;
}

.modal-content{
  background-image: url("../img/luciernagas/bosque-magico-luciernagas-009.jpg");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover; 
}

#facturaModal{
  color: #ffffff;
}

@media only screen and (max-width: 995px) {
 .logoSection {
   width: 90% !important;
 }

 .optionsSection{
  /*width: 100% !important;*/
 }

 .paquetesButton{
   font-size: 24px;
   bottom: 50px;
 }

 .logoMobile{
   display: block !important;
 }

 .padB20{
  padding-bottom: 20px !important;
  }

  .showOnMobile{
    display: block !important;
  }

  .hideOnMobile{
    display: none !important;
  }
}

@media (max-width: 575.98px) {
  .optionsSection{
    width: 100% !important;
   }

  .bosqueLuciernagasTitle{
    width: 200px !important;
  }

  .pad0{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .aditamentos{
    width: 120px;
  }

  .paquetesDes{
    font-size: 16px !important;
  }

  .paquetesButton{
    font-size: 16px;
    bottom: 15px;
  }

  .imgCarrusel{
    width: 100% !important;
    height: 280px;
    object-fit: cover;
  }

  .imgCarruselMedio{
    width: 100% !important;
    height: 230px;
    object-fit: cover;
  }

  .imgCarruselMedio2{
    width: 100% !important;
    height: 420px;
    object-fit: cover;
  }

  .luciernagasTitle{
    width: 240px !important;
  }

  .imgLuciernagasDesc{
    width: 100% !important;
    margin-bottom: 15px;  
  }

  .desktop{
    display: none !important;
  }

  .mobile{
    display: block !important;
  }

  .centerOnMobile{
    text-align: center !important;
  }

  .centerTableOnMobile{
    margin: 0 auto !important;
  }

  .logoSection {
    width: 40% !important;
  }

  .w120{
    width: 120px !important;
  }

  .w75pct{
    width: 75% !important;
  }

  .w100pct{
    width: 100% !important;
  }

  .padL0{
    padding-left: 0px !important; 
  }

  .padL20{
    padding-left: 20px !important; 
  }

  .padT20{
    padding-top: 20px !important;
  }

  .recorridosText{
    font-size: 40px !important;
    line-height: 40px !important;
   }
}





/*EFECTS*/


/* Bubble Float Bottom - GREEN */
.hvr-bubble-float-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-bubble-float-bottom:before {
  position: absolute;
  z-index: -1;
  content: '';
  left: calc(50% - 10px);
  bottom: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #0f471c transparent transparent transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-bubble-float-bottom:hover, .hvr-bubble-float-bottom:focus, .hvr-bubble-float-bottom:active {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}
.hvr-bubble-float-bottom:hover:before, .hvr-bubble-float-bottom:focus:before, .hvr-bubble-float-bottom:active:before {
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}


/* Bubble Float Bottom - BLUE */
.hvr-bubble-float-bottom-blue {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-bubble-float-bottom-blue:before {
  position: absolute;
  z-index: -1;
  content: '';
  left: calc(50% - 10px);
  bottom: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #285065 transparent transparent transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-bubble-float-bottom-blue:hover, .hvr-bubble-float-bottom-blue:focus, .hvr-bubble-float-bottom-blue:active {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}
.hvr-bubble-float-bottom-blue:hover:before, .hvr-bubble-float-bottom-blue:focus:before, .hvr-bubble-float-bottom-blue:active:before {
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}


/* Bubble Float Bottom - PURPLE */
.hvr-bubble-float-bottom-purple {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-bubble-float-bottom-purple:before {
  position: absolute;
  z-index: -1;
  content: '';
  left: calc(50% - 10px);
  bottom: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #231a2e transparent transparent transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-bubble-float-bottom-purple:hover, .hvr-bubble-float-bottom-purple:focus, .hvr-bubble-float-bottom-purple:active {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}
.hvr-bubble-float-bottom-purple:hover:before, .hvr-bubble-float-bottom-purple:focus:before, .hvr-bubble-float-bottom-purple:active:before {
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}


/* Bubble Float Bottom - ORANGE */
.hvr-bubble-float-bottom-orange {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-bubble-float-bottom-orange:before {
  position: absolute;
  z-index: -1;
  content: '';
  left: calc(50% - 10px);
  bottom: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #b57129 transparent transparent transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-bubble-float-bottom-orange:hover, .hvr-bubble-float-bottom-orange:focus, .hvr-bubble-float-bottom-orange:active {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}
.hvr-bubble-float-bottom-orange:hover:before, .hvr-bubble-float-bottom-orange:focus:before, .hvr-bubble-float-bottom-orange:active:before {
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}

/* Float Shadow */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px #ffffff;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}



