:root{
 --bg_recorridos_banner: rgb(15, 84, 35, 0.65);
}

@font-face {
 font-family: 'HelveticaText';
 src: url('../css/fonts/Helvetica_LT_Std_Condensed.woff') format('woff');
}

@font-face {
 font-family: 'HelveticaTitles';
 src: url('../css/fonts/Helvetica_LT_Std_Bold_Condensed.woff') format('woff');
}

html{
 height: 100%;
}

body{ 
 height: 100%;
 font-family: 'HelveticaText'; 
 background: rgb(131,127,142);
 background: linear-gradient(180deg, rgba(131,127,142,1) 0%, rgba(121,121,121,0) 100%); 
}

.center{
 text-align: center;
}

.headerOpcionMenuImg{
 width: 75%;
 height: 75%;
}

.navbar{
 background-color: #837f8e;
}

.navOption{
  border-bottom: solid 3px #ffffff;
}

.recorridosSection{
 background-image: url(../img/recorridos/background.jpg); 
 background-position: center center;
 background-repeat: no-repeat;
 width: 100%;
 /*object-fit: cover;*/
 background-position: center;
 background-size: cover;
 padding-top: 50px;
}

.recorridosText{
  color: #ffffff; 
  font-size: 60px; 
  line-height: 60px; 
  font-weight: bold; 
  border-bottom: solid 4px #ffffff; 
  padding-bottom: 8px;
}

.recorridosBanner{
 background: var(--bg_recorridos_banner);
}

@media only screen and (max-width: 995px) {
 .logoSection {
   width: 90% !important;
 }

 .optionsSection{
  width: 100% !important;
 }
}

@media (max-width: 575.98px) {
  .centerOnMobile{
    text-align: center !important;
  }

  .centerTableOnMobile{
    margin: 0 auto !important;
  }

  .logoSection {
    width: 40% !important;
  }

  .padL0{
    padding-left: 0px !important; 
  }

  .padB20{
    padding-bottom: 20px !important;
  }

  .padT20{
    padding-top: 20px !important;
  }

  .recorridosText{
    font-size: 40px !important;
    line-height: 40px !important;
   }
}